body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif;
  margin: auto;
  max-width: 70rem;
  padding: 2rem;
  background-color: #f7f9fb;
}

#wrapperDiv {
  width: 700px;
}

#tabs-container {
  max-width: 417px;
  min-width: 417px;
}

#controlled-tab-example {
  background-color: #5085a5;
  border-radius: 7px;
}

.nav-link {
  color: #f7f9fb;
  &:hover {
    color: #31708e;
    border-color: #8fc1e3;
  }
}

#home-tab {
  color: #8fc1e3;
  background-color: #5085a5;
}

li {
  background-color: #31708e;
  border-radius: 10px 10px 0px 0px;
  &:hover {
    background-color: #8fc1e3;
    border: 0px;
  }
}
/* You use . for className and # for id */
.tabContent {
  color: black;
  background-color: #8fc1e3;
  border-radius: 5px;
}

#flexContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  background-color: #5085a5;
  border: 5px solid #5085a5;
  border-radius: 10px;
  min-width: 445px;
}

.controlForms {
  display: flex;
  align-items: center;
  flex-basis: calc(50% - 10px);
}

#buttonDiv {
  display: inline-flex;
  gap: 10px;
  align-items: center;
}

/* I can change this later */
.CharBtn {
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #f7f9fb;
  border-radius: 5px;
  line-height: 1px;
  width: 60px;
  height: 38px;
  font-size: 15px;
  margin-bottom: 10px;
  background-color: #f7f9fb;
  border: none;
  outline: none;
  cursor: pointer;
  transition: 0.3s ease;
  &:hover {
    background-color: #dbdada;
  }
}

/* This is for the Store and Inv now */

label {
  margin-right: 310px;
}

#CustomTabsDiv {
  display: flex;
  gap: 20px;
}

.tabContent {
  display: inline-block;
  text-wrap: wrap;
  white-space: pre-wrap;
  min-width: 417px;
  max-width: 417px;
  max-height: 600px;
  min-height: 600px;
  overflow: scroll;
}

.Item {
  display: flex;
  justify-content: space-between;
  width: 400px;
  align-items: center;
  margin-bottom: 10px;
}

.StoreButtons {
  margin-right: 0px;
}

.StoreButtons {
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #f7f9fb;
  border-radius: 5px;
  line-height: 1px;
  width: 60px;
  height: 38px;
  font-size: 15px;
  margin-bottom: 10px;
  background-color: #f7f9fb;
  border: none;
  outline: none;
  cursor: pointer;
  transition: 0.3s ease;
  &:hover {
    background-color: #dbdada;
  }
}

.InvSellButtons {
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #f7f9fb;
  border-radius: 5px;
  line-height: 1px;
  width: 60px;
  height: 38px;
  font-size: 15px;
  margin-bottom: 10px;
  background-color: #f7f9fb;
  border: none;
  outline: none;
  cursor: pointer;
  transition: 0.3s ease;
  &:hover {
    background-color: #dbdada;
  }
}
